<%- include ('./partials/head.ejs') %> 

        <div class="container">
            <form method="post" class="form">
                <input type="text" name="title" required placeholder="Enter your title">
                <input type="text" name="snippet" required placeholder="Enter your snippet here">
                <input type="submit" value="Add">
            </form>
        </div>

<%- include ('./partials/footer.ejs') %> 